.mb-4 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 80px;
}
body {
  background-image: url('https://wallpapercave.com/wp/wp3820395.jpg');
  padding: 2rem;
}
.ingredients {
  font-size: 30px;
  font-family: "Jacques Francois Shadow", serif;
}